
<div class="loginBox">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <ion-item>
          <ion-input type="text" placeholder="账号" formControlName="username" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="password" placeholder="密码" formControlName="password" required></ion-input>
        </ion-item>
      
        <ion-button margin-top type="submit" expand="full" [disabled]="loginForm.invalid">登录</ion-button>
        
    </form>
</div>



